p{
    margin: 0;
    padding: 0;
}

.start{
    display:flex;
     justify-content:space-between;
     padding: 0.5em 0;
}

.start a{
    color: rgba(121, 74, 122, 0.959);
    font-weight: 600;
    font-size: 1em;
    background-color: #fff;
    padding: 0.3em 0.8em;
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
}
.btnn{
    background: none;
    border: 2.5px solid rgba(121, 74, 122, 0.836);
    color: rgba(121, 74, 122, 0.959);
    font-size: 1.2rem;
    padding: 1rem 3rem;
    border-radius: 2rem;
    text-decoration: none;
    transition: 0.5s;

}
.btnn:hover{
    background: linear-gradient(120deg, rgba(121, 74, 122, 0.5) 0%, rgba(121, 74, 122, 0.692) 100%);
    padding: 1rem 3rem;
    border-radius: 2rem;
    color: #ffffff;

}
.start-banner{
    text-align: center;
    padding-top: 30vh;
}
/* create  courses*/

.create-banner{
    background-image:linear-gradient(rgba(247, 243, 243, 0.623),#f3f1f19d), url('/images/pexels-pixabay-256455.jpg');
    background-size:cover;
    background-position:center;
    width:100%;
    min-height:95vh;
    margin:0;
}
.input{
    background-color: rgba(238, 238, 238, 0.719);
    color:#333;
    border: 1px solid #fff;
}
.label{
    color: #333;
    font-size: 1em;
}
.form{
    width: 60%;
}

/* index */

.courses-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
    grid-gap: 20px;
}

@media (max-width:767px) {

.courses-container{

    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
}

#course-img{
    width: 70%;
}
}

/* Enrolling */

.enroll-btn{
    background: none;
    border: 2px solid rgba(121, 74, 122, 0.836);
    color: rgba(121, 74, 122, 0.959);
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    text-decoration: none;
    transition: 0.5s;
    font-weight: 600;
}

.enroll-btn:hover{
    background-color: rgba(121, 74, 122, 0.836);
    border: 2px solid rgba(121, 74, 122, 0.836);
    color: #fff;
}

/* course Details */

.banner{
    width:100%;
    height: 20vh;
    background-image: url('/images/pexels-julia-m-cameron-4144294.jpg');
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.banner-2{
    width:100%;
    height: 30vh;
    background-image: url('/images/pexels-kaboompics-com-6332.jpg');
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.course-banner{
    background-image:linear-gradient(rgba(247, 243, 243, 0.486),#f3f1f177), url('/images/pexels-kaboompics-com-6332.jpg');
    background-size:cover;
    background-position:center;
    width:100%;
    min-height:50vh;
    margin:0;
    padding: 1rem 2rem;
}
/* profile */

.profile{
    background-image:linear-gradient(rgba(247, 243, 243, 0.452),#f3f1f16e), url('/images/pexels-kaboompics-com-6332.jpg');
    background-size:cover;
    background-position:center;
    width:100%;
    min-height:95vh;
    margin:0;
}
